body {
    background: #E5E5E5;
    font-family: 'Karla', sans-serif;
}
li{
	list-style:none;
}
ul{
	padding:0;
}
a {
  color: #fff;
  transition: 0.5s;
}

a:hover, a:active{
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
.row{
	margin:0px;
}
.r-custom-padd{
	padding:0px 15px;
}

.border-l{
	border-left: 1px solid #253E6A;
}
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/


.dashboard-content {
	background-color: #F5F5F5;
    padding-top: 72px;
	padding-left:0;
	padding-right:0;
    padding-bottom: 30px;
    overflow-x: hidden;
    overflow: hidden;
}



header{
  height: auto;
  background-color:#071939;
  color: #fff;
}



.menu-left,.menu-right {
    display: flex;
    align-items: center;
}
.menu-right .border-right{
    border-right:1px solid #253E6A !important;
}
.search-form .form-group {
    position: relative;
    margin-bottom: 0;
    display: flex;
}
.search-form {
    max-width: 171px;
}
.search-form input.form-control {
    height: 40px;
    width: 200px;
    background: transparent;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
}
.search-form input:focus{
    background: transparent;
    outline:none;
    box-shadow:none;
}
.search-img{
    vertical-align: -webkit-baseline-middle;
}
.image-verifive{
    position: absolute;
    right: 10px;
}
 button.search-form-btn {
    height: 100%;
    cursor: pointer;
    background: transparent;
    text-align: center;
    border: none;
    /*position: absolute;*/
    top: 0;
    right: 7px;
    border-radius: 0 2px 2px 0;
        opacity: .5
}
.search-form-btn img{
    width:19px;
}
.right-search {
    /* margin-left: 52px; */
    display: flex;
    justify-content: center;
}

span.notificaion-spn{
    background: #FF6451;
    right: 29px;
    position: absolute;
    top: 2px;
    font-size: 10px;
    font-weight: 400;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.account-d .popupbox{
    padding:0px;
    top: 40px;
    left: -60px;
}

.account-d ul{
    padding:0;
}
.account-d li a{
    color:#738C9D;  
    font-size: 14px;
line-height: 23px;
}
.account-d li img{
    margin-right:10px;
}
.account-d li.active,.account-d li:hover{
        background: #0084F8;
        color:#fff;
}
.account-d li.active a,.account-d li:hover a{
    color:#fff;
}
.account-d li{
    line-height: normal;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.dropdown-buttn {
    width: 100px;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    background: url(../images/dropdown.png) no-repeat;
    background-position: center right;
}
/* after{} */
/* Menu*/
.menu-container{
    background-color: #112851;
    position: relative;
    min-height: 730px !important;
    padding-left:0;
    padding-right:0;
}
.menu-container ul li{
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    padding-top: 30px;
}
.menu-container ul li a{
        color: #fff;
}
.menu-container ul li span{
    display:block;
}

.panel {
    position: inherit !important;
    left: -15.625em;
    width: 15.625em;
}
.menu-wrap {
    text-align:center;
}
.menu-wrap a{
    color:#fff;
    font-size:24px;
    font-weight:bold;
}
.p-right-32 {
    padding-right: 32px;
}.p-left-32 {
    padding-left: 32px;
}

/*--end--*/
.content-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
	height:100%;
	align-items:center;
}
.content-head .left-content {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #738C9D;
/* 	padding-left: 15px; */
}
.content-head .search-form .form-group {
    position: relative;
	    margin-bottom: 0;
}
.content-head .search-form input {
    height: 40px;
	width: 200px;
    background: #ffffff;
    font-size: 12px;
    border: none;
    border-radius: 2px;
	color: #879FAF;
}
.content-head .search-form ::placeholder{
	color: #879FAF;
}
.content-head .search-form :-ms-input-placeholder{
	color: #879FAF;
}
.content-head .search-form ::-ms-input-placeholder{
	color: #879FAF;
}
.content-head button.search-form-btn {
	height: 100%;
    cursor: pointer;
    background: transparent;
    text-align: center;
    border: none;
    position: absolute;
    top: 0;
    right: 7px;
    border-radius: 0 2px 2px 0;
}
.notificaion-dropdown ul{
	margin-bottom:0px;
}
.notificaion-dropdown .dropdown-menu {
    background: #087BE0;
    padding: 8px;
	width: 216px;
	top: 56px;
    left: -180px;
}
.notificaion-dropdown .dropdown-menu li{
	font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #52616B;
	background:#fff;
	margin-bottom:8px;
	padding: 8px;
}
.notificaion-dropdown .dropdown-menu li:last-child{
	margin-bottom:0px;
	color:#0084F8;
}
.balance {
    background: #3274ED;
    border-radius: 6px;
	    min-height: 381px;
}
.balance-top{
		padding-left: 24px;
}
.balance-top h2{
	font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding-top: 30px;
	margin-bottom:0;
}
.balance-top .balance-amount {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FF5050;
}
.balance-amount sup{
	font-size: 12px;
    line-height: 20px;
    top: -30px;
}
.status-dot {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
    padding-top: 15px;
	
}
.status-dot .connected {
    color: #fff;
	position:relative;
	margin-right: 15px;
}
.status-dot .connected:before{
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #FF5050;
    position: absolute;
    /* margin-right: 20px; */
    top: 4px;
}
.status-dot .connected span{
    padding-left: 15px;
    display: block;
    color: #f2f2f2;
	margin-bottom: 5px;
}
.status-dot .forging {
    color: #ffffff;
	position:relative;
    padding-top: 5px;
}
.status-dot .forging span{
	    padding-left: 10px;
        color: #fff;
}
.balance-graph {
	position: relative;
    left: 24px;
    margin-top: 41px;
    display:block;
    color:#fff;
    padding-bottom: 15px;
}

.balance-value span sup{
	    font-size: 12px;
    line-height: 20px;
    top: -18px;
    left: 5px;
}
.protocol{
    position: relative;
    bottom: -17px;
    left: 24px;
    font-style: normal;
    font-weight: 300;
    margin-top: 15px;
   

}
.protocol span{
    display:block;
    color:#fff;
    color: rgba(242, 242, 242, 0.77);
    font-size: 14px;
     line-height: 170.23%;
}
.balance-value span:nth-child(1){
	font-weight: 300;
	font-size: 14px;
	line-height: 146.12%;
    font-weight: bold;
}
.balance-value span:nth-child(2){
	font-size: 12px;
    line-height: 20px;
}
.recieve-apl {
    display: flex;
    justify-content: space-between;
    padding: 17px 24px;
	align-items: center;
}
.balance-map img{
	height:100%;
}
.asset-d {
    background: #fff;
    border-radius: 4px;
	display: flex;
    flex-direction: column;
    height: 100%;
}
.assets-value div{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #031C49;
    text-transform: uppercase;
}
.assets-value div a{
	color: #3274ED;
	font-size: 11px;
	line-height: 146.12%;
}
.blue-eiffa{
    margin-top: 12px;
	display:flex;
	align-items:center;
}
.yellow-eiffa{
    margin-top: 3px;
}
/* .market-table tr th{
    padding-top: 10px;
} */
.table-bar table tr td{
    padding-bottom: 7px;
}
.table-bar{
    padding-bottom: 8px;
}
.rig{
    float: right;
}
.see-all{
    text-align: right;
    font-weight: bold;
}
.see-all h6{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.26px;
    color: #7C8495;
}
.see-all div a{
    font-style: normal;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
    color:  #3274ED;
}
.market-cap div{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #031C49;
    text-transform: uppercase;
}
.see-all{text-align: right;}
.market-table{
    width: 100%;
    margin: 0 15px 0 15px;
}
.asset-value{
	width: 100%;
	margin: 0 15px 0 15px;
	padding-bottom: 5px;
}
.asset-value ul{
	margin-bottom:0;
}
.asset-value ul li{
	display: flex;
    justify-content: space-between;
	font-size: 13px;
	line-height: 24px;
	letter-spacing: 0.26px;
	color: #7C8495;
}
.market-table tr th{
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    color: #7C8495;
}
.market-table tr td{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #7C8495;
    letter-spacing: 0.26px;
    margin-bottom: 3px;
}
.assets-value {
    display: flex;
    justify-content: space-between;
}
.asset-data {
    display: flex;
    width: 100%;
    justify-content: space-between;
	    align-items: center;
}
.curdiv a{
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #7C8495;
}
.asset-hd {
	padding-top: 12px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
}
.asset-hd h2{
	font-size: 16px;
    line-height: 22px;
    color: #FF891D;
}
.asset-hd h2 span{
	display: block;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
	color: #738C9D;
}
.value-count {
    background: #389AF1;
    border-radius: 2px;
    height: 40px;
    width: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}
.asset-graph {
    padding-bottom: 11px;
	padding-top: 21px;
}
.green-bg{
    background: #00D67C;	
}
.white-bg{
	background:#fff;
    margin: 0px -60px 0px 0px;
}
.blue-circle{
	border-color:#087BE0 !important;
}
.red-circle{
	border-color:#FF891D !important;
}
.green-circle{
	border-color:#00D67C !important;
}
.margin-bottom-23{
	margin-bottom:23px;
}
.asset-portfolio {
    background: #FFFFFF;
    border-radius: 4px;
	padding:9px 0px 9px 0px;
	margin-top:20px;
}
.blue{
    display: inline-block;
}
.yellow{
    display: inline-block;
}
.blue-persan h2{
    margin-bottom: 0;

}
.yellow-persan h2{
    margin-bottom: 0;
}
.blue-persan{
    display: inline-block;
    margin-left: 12px;
}
.yellow-persan{
    display: inline-block;
    margin-left: 12px;
}
.blue-persan h2{
    font-weight: bold;
    font-size: 26px;
    line-height: 24px;
}
.asset-portfolio h2{
	font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #7C8495;
    font-family: Karla;
}


/* .progress{
    width: 24px;
    height: 24px;
    line-height: 24px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    
} */
/* .progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
} */
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
   display: inline-block;
}
.progress-value{}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}


.progress-circle:not(.over50) .first50-bar{display: none;}
.asset-portfolio ul{
	margin-bottom:0;
}
.asset-portfolio ul li{
	display: flex;
    justify-content: space-between;
}
.asset-portfolio .asset-p-data {
	display: flex;
    align-items: center;
}
.asset-portfolio .asset-p-data .cir{
	width: 24px;
    height: 24px;
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;
	margin-right:24px;
}
.asset-p-data span:nth-child(2){
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	color: #738C9D;
	width:72px;
}
.asset-p-data span:nth-child(3){
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	color: #738C9D;
}
.dots {
    transform: rotate(90deg);
	color:#BCC9D2;
	font-weight:700;
}
.send-lc-network {
	background: #FFFFFF;
    border-radius: 4px;
	padding:5px 26px 5px 24px;
	margin-top:20px;
}
.secure-ities{
    float: right;
}
.send-request{
    border-bottom: 1px solid #F0F5F9;
	margin-bottom:10px;
}

.send-lc-network h2{
     display: inline-block;
     margin-bottom: 0;
    line-height: 13px;
	width: 50%;
    text-align: center;
}

.send-lc-network h2 a{
	font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #7C8495;
    display: inline-block;
}
.send-lc-network h2 a.active{
	border-bottom: 2px solid #3274ED;
	color: #031C49;
	width: 100%;
    text-align: center;
}
.gray-color{
	color: #52616B !important;
}
.send-network-form .form-group{
	display: flex;
    align-items: center;
 
}
.send-network-form .form-group.wallet input,.send-network-form .form-group.amount input,.send-to .form-control{
	width: 100%;
	height: 30px;
} 

.send-network-form{
    margin-top: 5px;
}
.send-network-form .form-group label{
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #738C9D;
	margin-bottom: 0;
	float: left;
}
.send-request-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.send-but a{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 2.35846px;
    color: #FFFFFF;
    background: #3274ED;
    border-radius: 3px;
    padding: 10px 55px;

}

.req-but a{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 2.35846px;
    color: #031C49;
    background: #E3E5E8;
    border-radius: 3px;
    padding: 10px 36px;

}
.send-network-form .form-control{
	
	background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 3px;

}

.form-control:focus{
        box-shadow: none;
}
.card-content {
    margin-top: 32px;
	position: relative;
	background: #3274ED;
	border-radius: 4px;
	padding-left: 24px;
}
.card-content .right-img {
    position: absolute;
    top: 13px;
}
.card-content .left-txt {
    display: flex;
    align-items: center;
    height: 56.59px;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    margin-left: 45px;
}
.padd-10{
	padding-top:10px;
}
.click-next{
    position: absolute;
    background: rgba(41,48,64,.2);
    border-radius: 0px 4px 4px 0px;
    height: 56.59px;
    width: 27px;
    top: 0;
    right: 0;
	display: flex;
    justify-content: center;
    align-items: center;
}
.menu-left img{
        vertical-align: -webkit-baseline-middle;
}
.left-up-txt{
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.57);
    left: 68px;
}
.next-arrow{
    position: absolute;
    top: 15px;
    right: 10px;
}
.decentralize {
	margin-top: 32px;
	position: relative;
	background: #fff;
	border-radius: 4px;
    padding: 10px 15px 14px 15px;
	
}
.see-all div a{
    text-align: right;
}
.decentralize-box {
    width: 51px;
    height: 51px;
    border: 5px solid #FF5050;
    border-radius: 50%;
	display: flex;
    justify-content: center;
}
.decentralize-box h1{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 24px;
    padding: 10px;
}
.decentralize-box1 div{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #031C49;
}
.decentralize-txt{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #7C8495;
    }
.decentralize-txt {
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    color: #738C9D;
}
.margi-t-32{
	margin-top:32px;
}

.transaction-head {
    display: flex;
    justify-content: space-between;
}
.transaction-head ul li a{
	    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #52616B;
    opacity: 0.5;
	padding: 0px 5px;
    margin-left: 23px;
}
.transaction-head .nav-tabs{
	border:none;
}
.transaction-head .nav-tabs li a.active{
	color: #0084F8;
	opacity:1;
	border-bottom: 2px solid #0E7BE4;
    padding-bottom: 5px;
}
.transaction-bg{
	background: #DCE2EE;
border-radius: 2px;
padding:0px 15px;
}
.data-price{
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
color: #7C8495;
text-transform: uppercase;
display: inline-block;
float: right;
}
.transaction-details h2{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;  
    color: #031C49;
}
.transaction-head h2 a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 146.12%;
    color: #3274ED;
    padding-left: 14px;
}
.time-date-value {
    display: flex;
    justify-content: space-between;
	align-items: center;
	padding-top: 7.5px;
}
.time-date-value img{
	    margin-right: 13px;
}
.time-date-value div:nth-child(1){
    font-size: 12px;
    line-height: 24px;
    font-style: normal;
    font-weight: bold;
	color: #7C8495;
}
.time-date-value div:nth-child(2){
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: bold;
	color: #112851;
}
.transaction-btm {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #7C8495;
	margin-top: 1.35px;
	padding-bottom:10px;
    display: inline-block;
}
.manage-service {
    display: flex;
    width: 100%;
    height: 100%;
}
.active-polls {
    margin-top: 32px;
    background: #fff;
    border-radius: 4px;
    padding: 10px 15px 6px 15px;
	width: 100%;
}
.active-polls h2{
	font-size: 16px;
	line-height: 22px;
	color: #FF891D;
}
.active-poll-back{
    padding-left: 60px;
	display: flex;
    height: 100%;
}
.active-poll-back ul li{
    padding-bottom: 12px;
}
.active-polls ul li:before{
	background: #52616B;
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    top: 7px;
    left: 0;
    border-radius: 50%;
}
.active-polls ul li{
	position: relative;
    padding-left: 20px;
    letter-spacing: 0.26px;
    color: #7C8495;
    line-height: 20px;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px; 
	margin-bottom:10px;
	padding-bottom: 0;
}
.left-content h4 a{
    color: #0077DC;
    font-size: 14px;
    font-weight: 400;
	letter-spacing: 0.408333px;
	line-height: 16px;
}
.left-content h4 span{
	font-size: 14px;
	line-height: 16px;
	color: #34495E;
	letter-spacing: 0.408333px;
}
/*--End--*/

/*-----------Responsive CSS ----------------*/



@media(max-width:1024px){
	.asset-graph {
		padding-top: 0px;
	}
	.decentralize-txt{
		font-size: 9px;
	}
	.active-polls{
		padding: 12px 15px;
	}
	.token-balance-bttm p{
		font-size: 10px;
	}
	.chart-head .head-txt {
		font-size: 24px;
	}
	.transaction-price {
		bottom: 208px;
		right: 38px;
	}
	.time-date-value div:nth-child(1) {
		font-size: 10px;
	}
	.transaction-btm,.token-transaction .time-date-value div:nth-child(2){
		font-size: 10px;
	}
	.send-but a{
		padding: 10px 30px;
	}
	.req-but a{
		padding: 10px 14px;
	}
	.search-form .form-group button img{
		top: 12px;
	}
.active-polls ul li{
	margin-bottom: 0;
	font-size: 12px;
}
}
@media(max-width:991px){
	.see-all h6 {
		padding-top: 25px;
	}
	.send-but a{   padding: 10px 52px;;}
	.req-but a{    padding: 10px 30px}
	.next-arrow{top: 30px;}
}
.card-content .left-txt{
	margin-left: 40px;
	    max-width: 166px;
}
@media(max-width:768px){
	.token-select {
    margin-top: 15px;
	width: 100%;
	}
	.search-form .form-group{
		    padding-left: 20%;
	}
	.search-form .form-group button img{
		position: absolute;
		display: block;
	}
	.form-group img{display: none;}
	.pr-ice{display: none;}
	
	.market-table{
		margin: 0 15px 0 7px;
	}
	.active-polls{
		    padding: 12px 11px;
	}
	
	button img{
		display: block;
	}
	.see-all h6{
		padding-top: 30px;
	}
	.token-balance h2{
		    font-size: 14px;
	}
	.token-amount{
		    font-size: 22px;
	}
	button.send-btn {
    width: 100%;
	}
	button.receive-btn {
		width: 100%;
		margin-top: 15px;
	}
	.token-balance-bttm p {
		font-size: 6px;
	}
	.transaction-price {
		bottom: 176px;
		right: 0px;
	}
	.balance-top .balance-amount{
		    font-size: 26px;
	}
	.balance-top h2{
		    font-size: 18px;
	}
	.balance-top {
    padding-left: 15px;
}
	.white-bg-content{
		font-size: 9px;
		max-width: 164px;
	}
	.asset-hd h2 span{
		    font-size: 36px;
	}
	.asset-graph{
		padding-top:0;
	}
	.asset-portfolio,.send-lc-network{
		margin-top: 18px;
	}
	.asset-portfolio{
		margin-top: 15px
	}
	.asset-p-data span:nth-child(2){
		font-size: 18px;
		    width: 60px;
	}
	.asset-portfolio h2{
		margin-bottom: 10px;
	}
	.asset-portfolio .asset-p-data .cir{
		width: 18px;
    height: 18px;
	margin-right: 9px;
	}
	.margin-bottom-23 {
    margin-bottom: 14px;
}
	

	.card-content{
		padding-left: 8px;
	}
	.card-content .left-txt{
		
		font-size: 12px;
	}
	.card-content .right-img{
		max-width: 20px;
	}
	.card-content .right-img img{
		width:100%;
	}
	
	.decentralize h2{
		font-size: 12px;
	}
	.progress{
		display: none;
	}

	.decentralize-txt{
		line-height: 16px;
		margin-top: 10px;
	}
	.menu-container ul{
		    width: 100%;
	}
	.menu-container ul li{
		font-size: 7px;
	}
	.active-polls h2 {
    margin-bottom: 5px;

	}
	.active-polls ul li{
	margin-bottom: 0;
    font-size: 10px;
    line-height: 14px;


	}
	.time-date-value{
		display:block;
	}
	.time-date-value div:nth-child(2) {
    font-size: 18px;
	}
	.doc-type ul li a {
    width: 118px;
    height: 68px;
	}
	.documentation{
		padding-left: 10px;
    padding-right: 10px;
	}
	.doc-type ul li a{
		font-size:12px;
	}
	.document-form .form-group {
    max-width: 100%;
	}
	.business-p ul li{
		    font-size: 8px;
	}
	.r-custom-padd{
		padding:0px;
	}
	.white-bg{
		    margin: 0;
	}
	.transaction-details {
    padding: 20px;
	}
	.active-poll-back {
    padding-left: 0px;
    width: 100%;
	}
	.overview-head,.content-head {
    display: block;
	}
	.right-search,.search-form{
		display: block;
		margin-top:15px;
	}
	.content-head .search-form input,.project-select{
		    width: 100%;
	}
	.project-select{
		margin-top:15px;
	}
	.token-menu-box{
		margin-top:15px;
	}
/*Business KYC*/
li.nav-item {
    width: 100%;
}
.document-tab li a {
    margin-right: 0;
    margin-bottom: 20px;
}
.business-profile, .btnLightBlue .btn {
    width: 100%;
}
}
.search-form .form-group{padding-left: 0px}
@media(max-width:767px){
	.right-search {
    display: flex;
    margin-top: 10px;
}
	.menu-container ul li{
		padding-top: 25px;
	}
	.pr-ice{display: block;}
	.menu-wrap{
	display: block;
    position: absolute;
    left: auto;
    top: 0;
    right: 10%;

}
.active-poll-back{
	padding: 0;
}
.trans{margin-top: 22px;}
.transaction-bg{padding-right: 35px;}
.decentralize {
    margin-top: 30px;}
.decentralize-box{    margin-bottom: 20px;}
.send-but a{padding: 10px 50px;}
.req-but a{padding: 10px 34px;}
.market-table{    margin: 0 15px 0 15px}
.panel {
    position: fixed !important;
	background:#fff;
	margin-top:70px;
}
.transaction-head{
	flex-direction: column;
    margin-bottom: 20px;
}
.menu-container {
    background-color: transparent;
    position: absolute;
    min-height: 730px !important;
}
	.token-balance-bttm p {
    font-size: 10px;
	}
	.chart-head {
    display: block;
	}
	.transaction-price {
		bottom: 142px;
	}

	.overview-head{
		    display: flex;
	}
	.user-pic {
    font-size: 18px;
	}
	.edit-pro a.edit-info-btn {
    font-size: 11px;
	width:auto;
	}
	.user-profile .dob-input {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
}
.agree-bttn {
    width: 100%;
    display: flex;
}
.profile-data,.business-account{
	margin-top:15px;
}
.business-solution .nav-tabs li{
	    margin-right: 0;
}
.business-solution .nav-tabs{
	padding-left:0;
}
.bus-sol-right{
	margin-top:15px;
}
.secure-asset {
    display: block;
}
.business-solution .nav-tabs li a{
	margin:0;
}
.reserve-token .form-group span{
	    left: 164px;
}
.reserve-token .form-group button {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
}
form.login-wallet-form {
    display: block;
}
.login-next-btn,.cancel-btn{
	margin-left: 0;
	margin-top: 15px;
	width:100%
}
.btn-area {
    display: block;
}
.btn-area>div{
	margin-left:0 !important;
	margin-right:0 !important;
	margin-bottom:15px;
}
.btn-area .continue-btn{
	width:100%;
}
form.login-wallet-form {
    display: block;
}
.btn-area .btn.accept-btn {
    width: 100%;
}
.wallet-create {
    display: block;
}
.wallet-bg{
	height:auto;
}
.t-areas p{
	word-break: break-word;
}
	.documentation{
		margin-top:15px;
	}
	.doc-type ul{
		    flex-direction: column;
	}
	.doc-type ul li a{
		width:100%;
	}
.task-status .nav-tabs{
	justify-content: space-between;
}
.task-status .nav-tabs li {
    padding-left: 0;
}
.search-form input.form-control{margin-left: 45px;}
	.button.search-form-btn img{    margin-right: 275px;}
}
@media(max-width: 325px){
	.send-but a{
		padding: 10px 20px;
	}
	.req-but a{
		 padding: 10px 5px;
	}
	.decentralize-box1 div{
		padding-left: 0;
	}
	.decentralize-box{
		margin-left: 0;
	}
	.see-all{
		text-align: left;
	}
	.transaction-head{padding: 0 10px;}
}
@media(max-width:480px){
	
	.send-network-form .form-group.wallet input{
		width:100%;
	}
	.send-network-form .form-group.amount input{
		max-width:100%;
	}
	.time-date-value {
    display: flex;
}
.musig-private-key .form-group button{
	    margin-left: 0;
    margin-top: 15px;
    width: 100%;
}
.musig-private-key .form-group input{
	 width: 100%;
}
.resolve-bttn{
	max-width: 79px;
	font-size: 12px;
}
.resolve-input input{
	font-size: 12px;
}
.payment-steps .head-tab{
	    flex-direction: column;
}
.payment-steps ul li{
	    padding: 13px 18px;
}
.fancylist select{
	    padding-right: 9px;
}
}