@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
body {
    background-color: #fff;
	font-family: 'Karla', sans-serif;
}
li{
	list-style:none;
}
ul{
	padding:0;
}
a {
  transition: 0.5s;
}

a:hover, a:active{
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
.row{
	margin:0px;
}
.custom-container{
	max-width:1448px;
	width:100%;
	height:100%;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding: 0 3rem;
}
.r-custom-padd{
	padding:0px 15px;
}

.off-white{
	color:#DDE2E8 !important;
}
.marg-r-32{
	margin-right:32px;
}
.marg-r-30{
	margin-right:30px;
}
.custom-padd{
	padding-left:32px;
	padding-right:32px;
}
.padd-l-0{
	padding-left:0px;
}
.padd-r-0{
	padding-right:0;
}
.marg-bottom-40{
	margin-bottom:40px !important;
}
.margin-tp-32{
	margin-top:32px;
}
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/*Home Page*/
/* Header*/
.top-menu {
    background-color: #137CFA;
    width: 100%;
}
.top-menu-bar{
	height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 0px 15px;
}
.social-m {
    display: flex;
}
.social-m .fa{
	height:24px;
	width:24px;
	border-radius:50%;
	background:#fff;
	display: flex;
    justify-content: center;
    align-items: center;
	color:#137CFA;
}
.social-m .fa:nth-child(1){
	margin-right:16px;
}
.top-right-menu ul{
	display:flex;
	margin-bottom:0;
}
.top-right-menu ul li{
	padding-left:16px;
}
.top-right-menu ul li a{
	font-weight: bold;
	font-size: 15px;
	line-height: 24px;
	color:#fff;
}
.top-right-menu ul li:last-child a{
	color:#FFC700;
}
/*end*/
/* Header Main menu*/
.header-section{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
	height:100%;
}
.header-bg{
	width: 100%;
	position:relative;
/*     background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
    height: 880px; */
}
.header-section .main-menu{
	/* margin-top:40px; */
	padding: 0px 25px;
}
.header-section .main-menu ul{
	display:flex;
	margin-bottom:0;	
}
.header-section .main-menu ul li{
	padding-left:40px;
}
.header-section .main-menu ul li a{
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color:#fff;
}
.header-section .main-menu ul li a:hover{
	color:#FFC700;
}
.dropdown .fa-chevron-down:before {
    content: "\f107";
    position: absolute;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    top: 3px;
    font-size: 22px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	display: none;
    position: absolute;
    z-index: 1;
    background: transparent;
    border-radius: 3px;
    right: -20px;
    top: 20px;
	width: 200px;
}
.header-section .main-menu .dropdown-content ul{
	background: #FFFFFF;
	border-radius: 3px;
	margin-top:24px;
	display:block;
	padding:23px;
}
.dropdown-content ul:before{
	content: '';
    position: absolute;
    top: 16px;
    right: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.header-section .main-menu .dropdown-content ul li{
	display:block;
	    padding: 0;
}
.header-section .main-menu .dropdown-content ul li a{
	font-size: 16px;
	line-height: 38px;
	color: #0E1E46;
}
.header-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
	width: 100%;
	padding: 120px 15px 30px;
}
.header-txt h2{
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	font-size: 64px;
	line-height: 76px;
	color: #FFFFFF;
	margin-bottom:0;
}
.header-txt p{
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
	margin-bottom:0;
}
.read-btn {
    width: 188px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF4F4F;
    justify-content: center;
	margin:16px 0px;
}
.comment-bx {
    position: absolute;
	/* right: 6%; */
	left:5%;
    /* bottom: 22%; */
    width: 200px;
	height: 60px;
	border-radius: 10px;
    /* border-radius: 50%; */
	background: rgb(12, 183, 251);
	color: white;
	font-weight: bolder;
	font-size: 27px;
    display: flex;
    justify-content: center;
	align-items: center;
	

    /* right: 6%; */
    bottom: 10%;
    /* width: 72px;
    height: 72px; */
    /* border-radius: 50%; */
    /* background: #fff; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
/*end*/
.enter-address{
    height: 64px;
    display: flex;
    align-items: center;
	margin:0px;
}
.enter-address p{
	font-size: 16px;
	line-height: 22px;
	color: #3B3B3B;
	margin-bottom:0px;
}

/*About our company section*/
.our-company{
	background: #F7F7F7;
    padding-top: 98px;
    padding-bottom: 98px;
}
.our-company-img {
    background: #FFFFFF;
    box-shadow: 5px 5px 12px rgba(94, 116, 116, 0.2);
    border-radius: 2px;
    padding: 35px;
}
.company-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 30px;
}
.company-content h3{
	font-size: 36px;
	line-height: 48px;
	color: #252323;
	font-family: Playfair Display;
}
.company-content p{
	font-size: 18px;
	line-height: 28px;
	color: #536681;
}
.learn-share {
	display:flex;
	align-items: center;
}
.learn-share .learn-mo a{
	font-weight: bold;
	font-size: 16px;
	line-height: 23px;
	color: #F94040;
	text-transform:uppercase;
	margin-right:33px;
}
.learn-share .social-share{
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #4F4F4F;
	display:flex;
}
.social-share .fa {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #F94040;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
	font-size:15px;
}
/*end*/
/*company Logo*/
.company-logo ul{
	display: flex;
    justify-content: space-between;
    align-items: center;
	    width: 100%;
}
.company-logo ul li{
	padding:5px;
}
.company-logo {
    border-bottom: 1px solid #EAEAEA;
}
/*end*/
/*Our services*/
.our-services {
    padding-top: 100px;
	padding-bottom: 100px;
    text-align: center;
}
.our-services-headr h2{
	font-size: 36px;
	line-height: 48px;
	color: #0E1E46;
	font-family: Playfair Display;
}
.trade-ciircle {
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-services-block h2{
	font-size: 24px;
line-height: 36px;
color: #132758;
font-family: Playfair Display;
}
.our-services-block p{
	font-size: 16px;
	line-height: 28px;
	color: #494949;
}
.learn-mo-btn {
    width: 188px;
    height: 48px;
    background: #F94040;
    border-radius: 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn-mo-btn:hover{
	background: #000;
	color: #fff;
}
/*end*/
/*Our portfolio*/
.our-portfolio {
    background-color: #0E1E46;
	padding-top: 100px;
    padding-bottom: 100px;
	/* background-image: url(../imagesWeb/portfolio-bg.png); */
    background-repeat: no-repeat;
    background-position: top right;
	background-size: 100%;
}
.portfolio-head {
    padding: 0px 15px;
}
.portfolio-head h3{
	font-size: 36px;
	line-height: 48px;
	font-family: Playfair Display;
	color: #FFFFFF;
}
.portfolio-head p{
	max-width:1260px;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
}
.img-slide-block .text-block{
	background:#fff;
}
.img-slide-block img{
	width:100%;
}
.img-slide-block .text-block{
	padding-bottom:38px;
	padding-top:38px;
}
.text-block h3{
	font-size: 24px;
	line-height: 36px;
	color: #233A75;
	font-family: Playfair Display;
	margin-bottom:23px;
}
.text-block p{
	font-size: 18px;
	line-height: 28px;
	color: #494949;
	margin-bottom:21px;
}
.text-block p:nth-child(3){
	font-size: 24px;
	line-height: 36px;
	color: #233A75;
	font-family: Playfair Display;
}
.portfolio-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-top:37px;
    padding: 0px 15px;
}
.portfolio-bottom .learn-share .learn-mo a{
	font-size:18px;
}
.portfolio-bottom .learn-share .social-share{
	color:#fff;
}
.portfolio-bottom .social-share .fa{
	color:#0E1E46;
	background:#fff;
}
.slide-paginate a{
	color:#fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}
.slide-paginate a:hover{
	color: #F94040;
}
/*end*/
/*Technology*/
.technology {
    background: #F6F6F6;
    padding-top: 100px;
    padding-bottom: 100px;
}
.tech-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.tech-left h3{
	font-size: 36px;
	line-height: 48px;
	font-family: Playfair Display;
	color: #0E1E46;
	margin-bottom:40px;
}
.tech-left p{
	font-size: 18px;
	line-height: 28px;
	color: #494949;
}
.tech-right {
    display: flex;
	justify-content: flex-end;
}
.tech-right-block {
    display: flex;
    align-items: center;
}
.tech-right-block ul{
	margin-bottom:0px;
}
.tech-right-block ul li h3{
	    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #373F48;
    border-bottom: 2px solid #CFCFCF;
	padding-bottom: 10px;
	margin-bottom: 11px;
}
.tech-right-block ul li {
    margin-top: 35px;
	margin-right: 6px;
}
.tech-right-block ul li:last-child{
	margin-top: 60px;
}
.tech-right-block ul li p{
	font-size: 14px;
	line-height: 22px;
	color: #373F48;
	max-width:210px;
}
/*end*/
/*Platform*/

.custom-margin {
    margin-left: 13%;
}
@media(min-width:1680px){
	.custom-margin {
		margin-left: 13%;
	}
}
@media(max-width:1480px){
	.custom-margin {
		margin-left: 3.5%;
	}
}
.platform {
    padding-top: 100px;
    padding-bottom: 100px;
}

.platformleft {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
	max-width: 670px;
}
.platformleft h3{
	font-size: 36px;
	line-height: 48px;
	font-family: Playfair Display;
	color: #0E1E46;
}
.platformleft p{
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #939393;
	margin-bottom:0px;
}
.platformleft h4{
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	color: #373F48;
}
.app-store {
    margin-top: 25px;
    text-align: center;
}
.app-store span{
	margin-left:13px;
	margin-right:13px;
}
/*end*/
/*token sale*/
.token-sale {
    background: #0E1E46;
    border: 1px solid #000000;
    box-sizing: border-box;
	padding-top: 46px;
    padding-bottom: 27px;
}
.tokensale-left{
	/* background:url(../imagesWeb/tokensale-bg.png) no-repeat; */
	background-position:top left;
	background-size:contain;
}
.tokensale-right h3{
	font-size: 36px;
	line-height: 48px;
	font-family: Playfair Display;
	color: #FFFFFF;
}
.tokensale-right p{
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
}
.tokensale-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
/*end*/
/*Roadmap*/
.roadmap {
		padding-bottom:100px;
		padding-top:100px;
}
.roadmap-block h3{
	font-size: 36px;
	line-height: 48px;
	font-family: Playfair Display;
	color: #0E1E46;
	margin-bottom:90px;
	text-align:center;
}
.roadmap-block {
    position: relative;
	margin-bottom: 70px;
}
.roadmap-block .roadmap-top span{
	position:absolute;
	max-width: 148px;
    text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: #494949;
}
.roadmap-block .roadmap-top span:nth-child(1){
	left: 17%;
}
.roadmap-block .roadmap-top span:nth-child(2){
    left: 50%;
}
.roadmap-block .roadmap-top span:nth-child(3){
	right: 0;
}
.roadmap-block .roadmap-bttm span{
	position:absolute;
	max-width: 148px;
    text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: #494949;
}
.roadmap-block .roadmap-bttm span:nth-child(1){
	left: 0;
    bottom: -7%;
}
.roadmap-block .roadmap-bttm span:nth-child(2){
    right: 50%;
    bottom: -7%;
}
.roadmap-block .roadmap-bttm span:nth-child(3){
	right: 17%;
    bottom: -7%;
}
/*end*/
/*FAQ*/
.faq {
    background: #F5F5F5;
	padding-bottom:100px;
	padding-top:100px;
}
.faq-block h2{
	font-size: 36px;
	line-height: 48px;
	color: #0E1E46;
	text-align: center;
}
.accordionWrapper{
	padding: 30px;
    max-width: 962px;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.accordionItem{
    float:left;
    display:block;
    width:100%;
    box-sizing: border-box;
	border: 1px solid #E5E5E5;
	margin-bottom: 24px;
}
.faq-block .accordionItemHeading{
	cursor: pointer;
    padding: 26px 40px;
    background: #fff;
	font-size: 18px;
	line-height: 28px;
    color: #F94040 !important;
    width: 100%;
    text-align: left !important;
	margin-bottom: 0;
	position: relative;
}
.faq-block .accordionItemHeading:after{
	position: absolute;
    content: "\f067";
    font-family: "FontAwesome";
    font-size: 14px;
    right: 12px;
	color:#494949;
}
.accordionItem.open .accordionItemHeading:after{
	position: absolute;
    content: "\f068";
    font-family: "FontAwesome";
    font-size: 14px;
    right: 12px;
	color:#494949;
}
.accordionItem.close {
    opacity: 1;
}
.accordionItem.open {
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.128595);
}
.close .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block;
    
    
}
.open .accordionItemContent{
    padding: 0px 40px 25px;
    background-color: #fff;
    display:block;
    -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
        box-sizing: border-box;
}

.open .accordionItemHeading {
    padding-bottom: 10px;
}
.faq-block p {
	display: flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #233A75;
    margin-bottom: 0;
}
.view-mo-btn {
    width: 200px;
    height: 56px;
	background: #F94040;
	border-radius: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}
.view-mo-btn:hover{
	background: #000;
	color: #fff;
}
/*end*/
/*Our Team*/
.our-team{
	padding-bottom:100px;
	padding-top:100px;
}
.our-team h2{
	font-size: 36px;
	line-height: 48px;
	font-family: Playfair Display;
	margin-bottom:40px;
}
.team-details p:nth-child(1){
	font-size: 24px;
	line-height: 36px;
	font-family: Playfair Display;
	color: #233A75;
	margin-bottom:16px;
}
.team-details p:nth-child(2){
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #939393;
}
.team-details {
    margin-top: 40px;
}
/*End*/
/*Network Partners*/
.network-partners{
	background: #F6F6F6;
	padding-bottom:100px;
	padding-top:100px;
}
.network-partners.company-logo ul{
	opacity:.5;
}
.network-partners h2{
	font-size: 36px;
	line-height: 48px;
	font-family: Playfair Display;
	color: #0E1E46;
	margin-bottom:80px;
	text-align: center;
}
/*end*/
/*Testimonials*/
.testimonials {
    background: #0E1E46;
    padding-top: 48px;
    padding-bottom: 80px;
}
.user-block img{
	margin-bottom:1rem;
}
.user-block p{
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
	margin-bottom:1rem;
}
.user-block p.usr-name {
    font-size: 24px;
    line-height: 36px;
    font-family: Playfair Display;
	margin-bottom:0;
}
/*News & Article*/
.article-block {
    border-radius: 2px;
}
.article-details {
    padding: 23px;
    border: 2px solid rgba(197, 197, 197, 0.15);
}
.news-article {
    padding-top: 100px;
    padding-bottom: 100px;
}
.head-title {
    position: relative;
    margin: 0px 15px;
}
.head-title h2{
	font-size: 36px;
	line-height: 48px;
	font-family: Playfair Display;
	color: #373F48;
	text-align: center;
    margin-bottom: 35px;
}
.article-paginate {
    position: absolute;
    right: 40px;
    top: 13px;
	display: flex;
}
.article-paginate .prev .arrow-l1 {
    display: block;
	cursor:pointer;
}
.article-paginate .prev .arrow-l2 {
    display: none;
}
.article-paginate .prev:hover .arrow-l2{
	display:block;
}
.article-paginate .prev:hover .arrow-l1{
	display:none;
}
.article-paginate .next .arrow-l1 {
    display: block;
	cursor:pointer;
}
.article-paginate .next .arrow-l2 {
    display: none;
}
.article-paginate .next:hover .arrow-l2{
	display:block;
}
.article-paginate .next:hover .arrow-l1{
	display:none;
}
.article-details h3{
	font-size: 24px;
	line-height: 36px;
	font-family: Playfair Display;
	color: #233A75;
}
.article-details p {
    font-size: 16px;
    line-height: 26px;
    color: #939393;
    margin-bottom: 15px;
}
.article-bottom {
    border-top: 1px solid #E9E9E9;
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
}
.article-bottom span:nth-child(1) a{
	font-size: 18px;
	line-height: 28px;
	color: #F94040;
}
.article-bottom span:nth-child(2){
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #939393
}

/*end*/
/*Footer*/
footer {
    background-color: #12d3f1;
    padding-top: 90px;
    padding-bottom: 111px;
	background-image: url(../images/footer-bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
	
}
.footer-txt {
    margin-top: 20px;
}
.footer-txt p{
	font-size: 16px;
line-height: 24px;
color:#fff;
}
.footer-txt p span{
	display:block;
}
.footer-info h3{
	font-size: 22px;
	line-height: 34px;
	font-family: 'Playfair Display', serif;
	color:#fff;
	margin-bottom: 35px;
}
.footer-info ul li a{
	font-size: 16px;
	line-height: 24px;
	color:#fff;
}
.imp-note h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
}
.imp-note p{
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}
.footer-bottom-bg{
	background: #B71313;
}
.footer-bottom {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.footer-bottom .left-sect{
	font-size: 14px;
	line-height: 20px;
	color: #DADADA;
}
.footer-bottom .right-sect {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
	display:inline-flex;
}
.right-sect .fa{
	    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B71313;
}
/*end*/
/*End of home page*/
/* about us page */
.pt-200{
	padding-top: 200px;
}
.pt-40{
	padding-top: 40px;
}
.pb-40{
	padding-bottom: 40px;
}
.page-head{
	font-weight: normal;
	font-size: 60px;
	line-height: 84px;
	color: #FFFFFF;
}
.page-head-content{
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}
.fs-36{
	font-weight: normal;
	font-size: 36px;
	line-height: 48px;
}
.color-gray{
	color: #373F48;
}
.pt-120{
	padding-top: 120px;
}
.pb-120{
	padding-bottom: 120px;
}
.play-fair{
	font-family: Playfair Display;
}
.w-85{
	width: 85%;
}
.fs-18{
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
}
.gray2{
	color: #494949;
}
.blue-back{
	background: #0E1E46;
}
.white{
	color: #FFFFFF;
}
.fs-48{
	font-weight: normal;
	font-size: 48px;
	line-height: 64px;
}
.pb-80{
	padding-bottom: 80px;
}
.fancy-btn .btn {
	padding: 13px 45px;
	width: 100%;
    color: #FFFFFF;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    background: #F94040;
}
.fancy-btn .btn:hover{
	background: black;
	width: 100%;

}
.black-back{
	background: black;
}
.wwd-content {
	/* background: url(../imagesWeb/what-we-do.png) no-repeat top center; */
	background-size: 100% 100%;
}
.fs-24{
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
}
.w-33{
	width: 33.33%;
}
.border-white{
	border-bottom: 1px solid #FFFFFF;
}
.nav-link.active {
    border-bottom: 5px solid white;
    background: #cccccc;
}
.fs-32{
	font-weight: normal;
	font-size: 32px;
	line-height: 48px;
}
.pt-80{
	padding-top: 80px;
}
.fw-bold{
	font-weight: bold;
}
.off-white-back{
	background: #F5F5F5;
}
.nav-link {
    border-bottom: 5px solid transparent;
}
.w-90{
	width: 90%;
}
.mb-32{
	margin-bottom: 32px;
}
/* .newsletter{
	background: url(../imagesWeb/MaskGroup.png) no-repeat top center #0E1E46;
	background-size: 100% 100%;
} */
.fancyInput input {
    border: none;
    width: 33%;
    border-radius: 32px 0 0 32px;
    padding: 20px 30px;
    outline: none;
}
.h-128{
	height: 128px;
}
.fs-16{
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}
.fs-22{
	font-weight: normal;
	font-size: 22px;
	line-height: 34px;
}
.w-32{
	width: 32% !important;
}
.fs-14{
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
}
.gray3{
	color: #DADADA;
}
.subscribe-btn {
    border-radius: 0 32px 32px 0 !important;
    margin-left: -10px;
    padding: 17px 30px !important;
    margin-top: -3px;
	width: 215px;
}
.chatwithus img {
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 8px;
    align-items: center;
}
.chatwithus {
    border-radius: 50%;
    background: #137CFA;
    width: 70px;
    height: 70px;
    position:fixed;
  	z-index: 222;
  	bottom: 45px;
  	right: 45px;
  	cursor: pointer;
}
.toggle-menu{
	display: none;
}
.h-85{
	height: 85px;
}
/*end*/
/* start about by VJ */
.innerpage .header-bg{
	max-height: 580px;
}
.innerpage {
	font-family: Karla;
	font-size: 18px;
	line-height: 28px;
	color: #494949;
}
.why-bricktread {
    text-align: center;
    color: #494949;
}
.why-bricktread .row h3 {
    font-size: 24px;
    line-height: 36px;
}
.investsec p{
	text-shadow: 0px 0px 2px #000000;
	color: #0E1E46;
}
.gap-25{
	height: 25px;
}
.sectiontitle{
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 48px;
}
.newsletter .fancyInput input {
    line-height: initial;
}
.wwd-content a.nav-link:hover {
    opacity: 0.5;
    color: inherit;
}

.games{
	margin: 0px 10px 0px 0px;
    /* box-shadow: blue 0px 0px 4px; */
    /* border-radius: 6px; */
    color: white;
    background: #12d3f1;;
    padding: 15px;
    border: 1px solid;
}
/* end */